* {
  box-sizing: border-box;
}

body {
  padding-top: 150px;
  background-color: #deadad;
}

.tab {
  max-width: 500px;
  background-color: #475ee0;
  margin-bottom: 5px;
}
.tab input, .tab__text {
  display: none;
}
.tab__title {
  padding: 5px 10px;
  font-size: 30px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.tab__title::after {
  content: "+";
}
.tab__text {
  transition: all 1s ease;
  font-size: 20px;
  padding: 15px;
}

.tab :checked + .tab__title {
  background-color: #ccc;
}

.tab :checked + .tab__title::after {
  content: "-";
}

.tab :checked ~ .tab__text {
  display: block;
  transition: all 1s ease;
}