@font-face {
  font-family: "KTF Jermilov";
  src: url("../fonts/KTF Jermilov Solid Regular.woff") format("woff");
}
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
}

input,
button,
textarea,
select {
  font: inherit;
  outline: none;
  cursor: pointer;
  border: none;
}

a {
  text-decoration: none;
  font-size: inherit;
  color: unset;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Gothic A1", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1410px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  font-family: "KTF Jermilov";
  font-style: normal;
  font-weight: 400;
  line-height: 1;
}

.button-cart {
  padding: 12px 85px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  color: #ffffff;
  background: linear-gradient(130.83deg, #cfae87 9.11%, #a48159 70.56%);
}
.button-cart:hover {
  background: linear-gradient(130.83deg, #d2b490 9.11%, #a6835a 70.56%);
  box-shadow: 0px 6px 25px rgba(55, 45, 20, 0.5);
}
.button-cart:active {
  background: linear-gradient(130.83deg, #c2a683 9.11%, #95744e 70.56%);
  box-shadow: 0px 6px 26px rgba(83, 61, 35, 0.25);
}

.button-more {
  padding: 25px 71px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9px;
  color: #303030;
  background-color: #ffffff;
  border: 1px solid #caab86;
  border-radius: 3px;
}
.button-more:hover {
  background: linear-gradient(130.83deg, #d2b490 9.11%, #a6835a 70.56%);
  box-shadow: 0px 6px 25px rgba(55, 45, 20, 0.5);
  color: #ffffff;
}
.button-more:active {
  background: linear-gradient(130.83deg, #c2a683 9.11%, #95744e 70.56%);
  box-shadow: 0px 6px 26px rgba(83, 61, 35, 0.25);
  color: #ffffff;
}

.button-circle {
  padding: 60px 23px;
  ont-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color: #ffffff;
  background: linear-gradient(130.83deg, #d2b490 9.11%, #a6835a 70.56%);
  box-shadow: 0px 6px 26px rgba(83, 61, 35, 0.25);
  border-radius: 50%;
}
.button-circle:hover {
  background: linear-gradient(130.83deg, #d2b490 9.11%, #a6835a 70.56%);
  box-shadow: 0px 6px 25px rgba(55, 45, 20, 0.5);
}
.button-circle:active {
  background: linear-gradient(130.83deg, #c2a683 9.11%, #95744e 70.56%);
  box-shadow: 0px 6px 26px rgba(83, 61, 35, 0.25);
}

.catalog-link {
  position: relative;
  padding: 18px 39px 17px 55px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #ffffff;
  background: linear-gradient(130.83deg, #cfae87 9.11%, #a48159 70.56%);
}
.catalog-link:hover {
  background: linear-gradient(130.83deg, #d2b490 9.11%, #a6835a 70.56%);
  box-shadow: 0px 6px 25px rgba(55, 45, 20, 0.5);
}
.catalog-link:active {
  background: linear-gradient(130.83deg, #c2a683 9.11%, #95744e 70.56%);
  box-shadow: 0px 6px 26px rgba(83, 61, 35, 0.25);
}
.catalog-link::before {
  content: "";
  position: absolute;
  background-image: url(../images/catalog-dottes\ .png);
  width: 29px;
  height: 29px;
  top: 10px;
  left: 15px;
}